<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>まりも部屋</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
<!--
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', "時間");
  data.addColumn('number', '水温');
  data.addColumn('number', '室温');

  data.addRows([
      <%= @data %>
  ]);

  var options = {
    title: '今日の水温・室温',
    hAxis:{
      title: '時間'
    },
    vAxis: {
      title: '温度',
    },
    curveType: 'function',
    crosshair: {trigger: 'both'},
    height: '300',
    width: '700'
  };
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
-->
    </script>
  </head>
  <body>
    <p>まりもちゃんの水温とついでに部屋の温度です。</p>
    <div id="chart_div"></div>
  </body>
</html>
