<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>まりも部屋</title>
    <link rel="stylesheet" href="/petora/css/style.css" type="text/css"c></link>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
<!--
google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', "時間");
  data.addColumn('number', '水温');
  data.addColumn('number', '室温');

  data.addRows([
      <%= @data %>
  ]);

  var options = {
    title: '今日の水温・室温',
    hAxis:{
      title: '時間'
    },
    vAxis: {
      title: '温度',
    },
    curveType: 'function',
    crosshair: {trigger: 'both'},
    height: '300',
    width: '700'
  };
  var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
  chart.draw(data, options);
}
-->
    </script>
  </head>
  <body>
    <h1>まりも部屋</h1>
    <p>まりもちゃんの水温とついでに部屋の温度です。</p>
    <div id="chart_div"></div>
    <p>↓水温がやばそうだったら、<a href="https://twitter.com/jf_nights">@jf_nights</a> に教えてください。</p>
    <a href="https://twitter.com/intent/tweet?screen_name=jf_nights&text=%E6%B0%B4%E6%B8%A9%E3%81%8C%E3%82%84%E3%81%B0%E3%81%84%E3%81%A7%E3%81%99%EF%BC%81%EF%BC%81%EF%BC%81%EF%BC%81" class="twitter-mention-button" data-size="large" data-related="jf_nights">aaaaaa</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    <div class="pc-only">
      <p>まりもちゃんの様子(stream only pc)</p>
      <img src="http://reiankyo.net:8080/?action=stream">
    </div>
  </body>
</html>
